@import "../variables.css";

/*
  Button
*/
.button {
  @apply font-sans border-xs border-solid rounded-sm inline-flex justify-center items-center hover:cursor-pointer disabled:cursor-not-allowed;
}

/*
  Variant
*/
.button--primary {
  @apply bg-surface-primary-default border-border-primary-default text-content-primary-default;
}
.button--primary:hover {
  @apply bg-surface-primary-hover border-border-primary-hover text-content-primary-hover;
}
.button--primary:disabled {
  @apply bg-surface-primary-disabled border-border-primary-disabled text-content-primary-disabled;
}

.button--secondary {
  @apply bg-surface-secondary-default border-border-secondary-default text-content-secondary-default;
}
.button--secondary:hover {
  @apply bg-surface-secondary-hover border-border-secondary-hover text-content-secondary-hover;
}
.button--secondary:disabled {
  @apply bg-surface-secondary-disabled border-border-secondary-disabled text-content-secondary-disabled;
}

/*
  Size
*/
.button--sm {
  @apply gap-sm text-sm leading-sm p-sm;
}
.button--lg {
  @apply gap-sm text-md leading-md px-lg py-md;
}
